.button {
  border-radius: 60px;
  height: 3.5em;
  width: 15em;
  margin: 5px;
  font-size: 18pt;
  font-weight: 600;
}

.button--fill-riempito {
  background-color: white;
  border-color: white;
  color: #2e74ff;
}

.button--fill-nobackground {
  background-color: transparent;
  border-color: white;
  color: white;
}

.button--fill-noborder {
  background-color: transparent;
  color: #eeebeb;
  border: transparent;
}
